

.parent {
  position: absolute;
  top: 0;
  left: 0;
 }
 .bodystyle{
	 background-image:url(background.jpg);background-size: cover;background-repeat:none;
	 
 }
 .booksheader{
	 
	 color:beige;
	 font-family: verdana;
 }
 .bodystyle{
	 background-image:url(Background.jpg);background-size: cover;background-repeat:none;
	 
 }
 .menu {
  overflow: auto;
  background-color: wheat;
}
.menu a {
  float: left;
  color: black;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size:2vw;
}
.menu a:hover {
  background-color: #ddd;
  color: black;
}

.menu a.onlink {
  background-color: DE8876;
  color: white;
}
.image2 {
  position: absolute;
  top: 150px;
  left: 1095px;
  }
  
  .Books {
  position: absolute;
  top: 150px;
  left: 20px;
  }






.container {
  position: relative;
}

/* Bottom right text */

.text-block {
  position: absolute;
  bottom: 560px;
  left: 16px;
  color: black;
  font-size: 22px;
  font-family: sans-serif;
  padding-left: 20px;
  padding-right: 20px;
}


	





